In [29]:
#country: #mw-content-text > div.mw-parser-output > table.infobox.ib-settlement.vcard > tbody > tr:nth-child(8) > td > a
#city: #mw-content-text > div.mw-parser-output > table.infobox.ib-settlement.vcard > tbody > tr:nth-child(1) > th > div > span
#latitude: #coordinates > span > span > a > span.geo-default > span > span.latitude
#longitude: #coordinates > span > span > a > span.geo-default > span > span.longitude
#population: #mw-content-text > div.mw-parser-output > table.infobox.ib-settlement.vcard > tbody > tr:nth-child(16) > td

In [30]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
def base(cities):
    country = []
    city=[]
    latitude=[]
    longitude=[]
    population=[]

    for citu in cities:
        allurl = f'https://en.wikipedia.org/wiki/{citu}'

        headers = {'Accept-Language': 'en-US,en;q=0.8'}
        response_all = requests.get(allurl, headers = headers)
        response_all.status_code
    
        soup_all = BeautifulSoup(response_all.content, "html.parser")
    
        country.append(soup_all.select('tr:nth-child(8) td a')[0].get_text())
        city.append(soup_all.select('tr:nth-child(1) th div span')[0].get_text())
        latitude.append(soup_all.select('span.latitude')[0].get_text())
        longitude.append(soup_all.select('span.longitude')[0].get_text())
        population.append(soup_all.select('tr:nth-child(16) td')[0].get_text())
    citiedGermany_df = pd.DataFrame({'country':country, 'city':city, 'population':population, 'latitude' : latitude, 'longitude': longitude})
    citiedGermany_df['latitude'] = citiedGermany_df['latitude'].str.split('″').str[0].str.replace('°', '.', regex=False).str.replace('′', '', regex=False)
    citiedGermany_df['longitude'] = citiedGermany_df['longitude'].str.split('″').str[0].str.replace('°', '.', regex=False).str.replace('′', '', regex=False)
    citiedGermany_df['latitude'] = citiedGermany_df['latitude'].str.replace('N', '', regex=False)
    citiedGermany_df['longitude'] = citiedGermany_df['longitude'].str.replace('E', '', regex=False)
    return(citiedGermany_df)

In [31]:
three_cities =base(['Leipzig', 'Dresden', 'Hamburg'])
three_cities['population']=three_cities['population'].str.replace(',','',regex=False)

In [32]:
three_cities.loc[three_cities['city']=='Hamborg','city'] = 'Hamburg'

In [ ]:

three_cities.drop(columns=['level_0', 'index'], inplace=True)

In [ ]:
three_cities

   country       city population latitude longitude
0  Germany  Leipzig       601866  51.2024   12.2230
1  Germany   Dresden      276522  51.0300   13.4424
2  Germany    Hamburg    1579884    53.33     10.00

In [ ]:
import my_API_key

In [ ]:

cities = list(three_cities['city'])
lat=list(three_cities['latitude'])
lon=list(three_cities['longitude'])
API_key = my_API_key.API_key

In [ ]:
def wheater_in_city(city):
    cities_wheather = []
    tempe=[]
    descre = []
    humiditye = []
    winde= []
    datee = []
    citye=[]
    API_key = my_API_key.API_key
    for i in range(len(city)):
        cities_wheather.append(requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city[i]}&appid={API_key}&units=metric").json())
    
        for u in range(len(cities_wheather)):
            for o in range(0,11):
                tempe.append(cities_wheather[u]['list'][o]['main']['temp'])
                humiditye.append(cities_wheather[u]['list'][o]['main']['humidity'])
                descre.append(cities_wheather[u]['list'][o]['weather'][0]['description'])
                winde.append(cities_wheather[u]['list'][o]['wind']['speed'])
                datee.append(cities_wheather[u]['list'][o]['dt_txt'])
                citye.append(cities_wheather[u]['city']['name'])
    wheater_df = pd.DataFrame({'city':citye, 'temp': tempe, 'descr': descre, 'humidity':humiditye, 'wind_speed':winde, 'date':datee })
    return wheater_df

In [ ]:
wheater_df=wheater_in_city(['Hamburg', 'Leipzig' , 'Dresden'])

In [ ]:
wheater_df

       city   temp            descr  humidity  wind_speed                 date
0   Hamburg   6.99       light rain        91        6.78  2023-04-11 09:00:00
1   Hamburg   7.10       light rain        90        6.18  2023-04-11 12:00:00
2   Hamburg   7.60       light rain        86        5.58  2023-04-11 15:00:00
3   Hamburg   6.04       light rain        88        3.33  2023-04-11 18:00:00
4   Hamburg   3.76       few clouds        95        2.24  2023-04-11 21:00:00
..      ...    ...              ...       ...         ...                  ...
61  Dresden   3.16        clear sky        79        1.97  2023-04-12 03:00:00
62  Dresden   5.49       few clouds        72        2.38  2023-04-12 06:00:00
63  Dresden  11.12  overcast clouds        52        4.66  2023-04-12 09:00:00
64  Dresden  12.10  overcast clouds        55        6.00  2023-04-12 12:00:00
65  Dresden  10.09  overcast clouds        74        6.23  2023-04-12 15:00:00

[66 rows x 6 columns]

In [ ]:
cit = ['Hamburg', 'Leipzig' , 'Dresden']
latit = [53.33,51.2024,51.0300]
longit=[10.0,12.2230,13.4424]

In [ ]:
import my_API_key_arrivals

In [ ]:
import requests

url = "https://aerodatabox.p.rapidapi.com/airports/search/location"

querystring = {"lat":"50.59","lon":"11.2","radiusKm":"50","limit":"10","withFlightInfoOnly":"true"}

headers = {
	"X-RapidAPI-Key": my_API_key_arrivals.API_key_arriv,
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"searchBy":{"lat":50.59,"lon":11.2},"items":[{"icao":"EDDE","iata":"ERF","name":"Erfurt","shortName":"Erfurt","municipalityName":"Erfurt","location":{"lat":50.9798,"lon":10.9581},"countryCode":"DE"}]}

In [ ]:
response.json()

In [ ]:

def arrrrrival(icao):
    arriv_icao= []
    arriv_time = []
    icao = ['EDDP','EDDC', 'EDDH']
    dates = [['00:00','11:59'],['12:00','23:59']]   
    arriv_number = []
    for i in range(len(icao)):
        for u in range(len(dates)):
            url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao[i]}/2023-03-30T{dates[u][0]}/2023-03-30T{dates[u][1]}"

            querystring = {"withLeg":"false","direction":"Both","withCancelled":"false","withCodeshared":"false","withCargo":"false","withPrivate":"false","withLocation":"false"}

            headers = {
            "X-RapidAPI-Key": my_API_key_arrivals.API_key_arriv,
            "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
            }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
            arrivals = response.json()['arrivals']
        
            for m in range(len(arrivals)):
                arriv_time.append(arrivals[m]['movement']['scheduledTimeLocal'])
                arriv_icao.append(icao[i])
                arriv_number.append(arrivals[m]['number'])
    arriv_df = pd.DataFrame({'time':arriv_time, 'flight_number':arriv_number, 'icao':arriv_icao})

    return(arriv_df)

In [ ]:
L_D_H = arrrrrival(['EDDP','EDDC', 'EDDH'])

In [ ]:
L_D_H

In [ ]:
icao = ['EDDP','EDDC', 'EDDH']
dates = [['00:00','11:59'],['12:00','23:59']]
arriv_icao= []
arriv_number = []
arriv_time = []
for i in range(len(icao)):
    for u in range(len(dates)):
        url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao[i]}/2023-03-30T{dates[u][0]}/2023-03-30T{dates[u][1]}"

        querystring = {"withLeg":"false","direction":"Both","withCancelled":"false","withCodeshared":"false","withCargo":"false","withPrivate":"false","withLocation":"false"}

        headers = {
        "X-RapidAPI-Key": my_API_key_arrivals.API_key_arriv,
        "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
        }

        response = requests.request("GET", url, headers=headers, params=querystring)

        print(response.text)
        arrivals = response.json()['arrivals']
    
        for m in range(len(arrivals)):
            arriv_time.append(arrivals[m]['movement']['scheduledTimeLocal'])
            arriv_icao.append(icao[i])
            arriv_number.append(arrivals[m]['number'])
arriv_df = pd.DataFrame({'time':arriv_time, 'flight_number':arriv_number, 'icao':arriv_icao})

In [ ]:
icao[0]

'EDDP'

In [ ]:
arrivals = response.json()

In [ ]:
arrivals=list(arrivals)
arrivals[0]

'departures'

In [ ]:
L_D_H['date']=L_D_H['time'].str.split('+', expand=True )[0]

In [ ]:
L_D_H.drop(columns='time', inplace=True)

In [ ]:
pd.set_option('display.max_rows', 1000)
import sqlalchemy

In [ ]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\piotr\anaconda30\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import my_passwSQL

In [ ]:
schema="test_1"   # name of the database you want to use here
host="wbs-project3-db.cion5whcvngn.us-east-1.rds.amazonaws.com"        # to connect to your local server
user="admin"
password= my_passwSQL.passw 
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [34]:
schema="gans"   # name of the database you want to use here
host="127.0.0.1"        # to connect to your local server
user="root"
password=my_passwSQL.passw 
port=3306
connection_details = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [35]:
three_cities.to_sql('city',
                    if_exists='append',
                    con=connection_details,
                    index=False
                    )

3

In [36]:
three_cities_df = pd.read_sql('city',con=connection_details)

In [37]:
three_cities_df

   city_id       city  country population latitude longitude
0        1  Leipzig    Germany     601866  51.2024   12.2230
1        2   Dresden   Germany     276522  51.0300   13.4424
2        3    Hamburg  Germany    1579884    53.33     10.00
3        4  Leipzig    Germany     601866  51.2024   12.2230
4        5   Dresden   Germany     276522  51.0300   13.4424
5        6    Hamburg  Germany    1579884    53.33     10.00
6        7  Leipzig    Germany     601866  51.2024   12.2230
7        8   Dresden   Germany     276522  51.0300   13.4424
8        9    Hamburg  Germany    1579884    53.33     10.00

In [ ]:
wheater_df.to_sql('wheather',
                  if_exists='append',
                  con=connection_details,
                  index=False)

In [39]:
wheather_from_sql = pd.read_sql('wheather', con= connection_details)

In [40]:
import my_passwSQL

In [41]:
wheather_from_sql.head()

,wheather_id,city_id,temp,descr,humidity,wind_speed,date
0,1,1,15.54,light rain,65,8.93,2023-03-30 12:00:00
1,2,1,15.28,light rain,67,8.00,2023-03-30 15:00:00
2,3,1,12.37,light rain,75,5.87,2023-03-30 18:00:00
3,4,1,9.52,light rain,84,6.00,2023-03-30 21:00:00
4,5,1,8.59,scattered clouds,88,5.86,2023-03-31 00:00:00

In [42]:
three_cities_df.drop(axis=0, labels=range(3,6), inplace=True)

In [43]:
three_cities_df

   city_id       city  country population latitude longitude
0        1  Leipzig    Germany     601866  51.2024   12.2230
1        2   Dresden   Germany     276522  51.0300   13.4424
2        3    Hamburg  Germany    1579884    53.33     10.00
6        7  Leipzig    Germany     601866  51.2024   12.2230
7        8   Dresden   Germany     276522  51.0300   13.4424
8        9    Hamburg  Germany    1579884    53.33     10.00

In [44]:
three_cities_df.loc[(three_cities_df['city']=='Dresden'),:]

Empty DataFrame
Columns: [city_id, city, country, population, latitude, longitude]
Index: []

In [45]:
cities_id = three_cities_df['city_id']
city = three_cities_df['city']

In [ ]:

len(wheather_from_sql['city'])
city_id=[]
for i in range(len(wheather_from_sql)):
    if wheather_from_sql['city'][i]=='Leipzig':
        city_id.append('1')
    elif wheather_from_sql['city'][i]=='Dresden':
        city_id.append('2')
    else:
        city_id.append('3')

In [ ]:
wheather_from_sql['city_id'] = city_id

In [ ]:
wheather_from_sql.drop(columns='city', inplace=True)

In [255]:
wheather_from_sql.to_sql('wheather',
                  if_exists='append',
                  con=connection_details,
                  index=False)

66

In [156]:
city = ['Leipzig', 'Dresden', 'Hamburg']
icao_la = ['EDDP', 'EDDC', 'EDDH']

icao_df = pd.DataFrame({'city': city, 'icao' : icao_la})

In [158]:
icao_df

      city  icao
0  Leipzig  EDDP
1  Dresden  EDDC
2  Hamburg  EDDH

In [ ]:
icao_df.to_sql('icao',
               if_exists='append',
               index=False, 
               con=connection_details)

In [271]:
L_D_H.to_sql('arrivals',
                con = connection_details, 
                index=False,
                if_exists='append')

211

In [49]:
icao_df = pd.read_sql('icao',
                      con = connection_details
                      )

In [24]:
icao_df

   city_id  icao
0        1  EDDP
1        2  EDDC
2        3  EDDH

In [261]:
citty = []
for i in range(len(icao_df['city'])):
    if icao_df['city'][i]=='Leipzig':
        citty.append('1')
    elif icao_df['city'][i]=='Dresden':
        citty.append('2')
    else:
        citty.append('3')

In [264]:
icao_df['city_id']=citty

In [269]:
icao_df.drop(columns='city', inplace=True)

In [27]:
icao_df.to_sql('icao',
               if_exists='append',
               index=False, 
               con=con)

3